<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'login')}">

<body>

<h2>Login page</h2>
<form th:object="${loginDto}" class="form-horizontal" id="login-form" method="post">
  <div class="form-group has-feedback">
    <input
      th:replace="~{fragments/inputField :: input ('Email', 'username', 'text')}" />
    <input
      th:replace="~{fragments/inputField :: input ('Password', 'password', 'password')}" />
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" type="submit">Login</button>
    </div>
  </div>
</form>

</body>

</html>
